<!doctype html>
    <title>Sampler</title>
    <h1>Sampler</h1>
    <form action="" method=post enctype="multipart/form-data">
        <p>
            <label for="input_file">Input file (constraints)</label>
            <input type=file name=input_file>
        </p>
        <p>
            <label for="output_file">Output file (valid points to be found)</label>
            <input type="text" name=output_file>
        </p>
        <p>
            <label for="n_results">Number of points</label>
            <input type="number" name=n_results>
        </p>
        <p>            
            <input type=submit value=Upload>
        </p>
    </form>